/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q           &kp W       &kp E        &kp R                         &kp T        &kp Y      &kp U         &kp I        &kp O         &kp P
  &mt LEFT_GUI A  &mt LALT S  &mt LCTRL D  &mt RSHIFT F                  &kp G        &kp H      &mt RSHIFT J  &mt RCTRL K  &mt RALT L    &mt RIGHT_GUI SEMI
  &kp Z           &mt LALT X  &kp C        &kp V                         &kp B        &kp N      &kp M         &kp COMMA    &mt RALT DOT  &kp FSLH
                              &lt 2 ESC    &mt LA(LC(LEFT_SHIFT)) SPACE  &lt 1 TAB    &lt 4 RET  &lt 3 BSPC    &lt 5 DEL
            >;
        };

        Nav {
            bindings = <
  &none     &none     &none      &none      &none    &kp K_REDO      &kp K_PASTE   &kp K_COPY      &kp K_CUT  &kp K_UNDO
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp CAPSLOCK
  &none     &kp LALT  &none      &none      &none    &kp HOME        &kp PG_DN     &kp PG_UP       &kp END    &kp INS
                      &none      &trans     &none    &kp RET         &kp BSPC      &kp DEL
            >;
        };

        Media {
            bindings = <
  &trans    &trans    &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans  &trans  &trans  &trans  &trans
  &trans    &kp LALT  &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans
                      &trans     &trans     &trans    &trans  &trans  &trans
            >;
        };

        Numbers {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &trans    &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &kp RALT  &trans
                  &trans  &trans  &trans    &trans  &trans     &trans
            >;
        };

        Symbols {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &trans    &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &kp RALT  &trans
                  &trans  &trans  &trans    &trans  &trans     &trans
            >;
        };

        Fn {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &trans    &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans     &kp RALT  &trans
                  &trans  &trans  &trans    &trans  &trans     &trans
            >;
        };
    };
};