// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <0 10>;
            layers = <0 2>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <1 11>;
            layers = <0 2>;
        };

        double_quotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <2 12>;
            layers = <0 2>;
        };

        single_quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <3 13>;
            layers = <0 2>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <4 14>;
            layers = <0 2>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <5 15>;
            layers = <0 2>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <6 16>;
            layers = <0 2>;
        };

        equal {
            bindings = <&kp PLUS>;
            key-positions = <7 17>;
            layers = <0 2>;
        };

        left_parentesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <8 18>;
            layers = <0 2>;
        };

        right_parentesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <9 19>;
            layers = <0 2>;
        };

        less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <10 20>;
            layers = <0 2>;
        };
    };

    macros {
        PS: PS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N5 &kp N0 &kp N1 &kp N2 &kp N5 &kp LS(E) &kp S &kp T &kp E &kp B &kp A &kp N>;
            label = "PS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp W  &kp E  &kp R    &kp T        &kp Y    &kp U    &kp I      &kp O    &kp P
&mt LEFT_GUI A  &kp S  &kp D  &kp F    &kp G        &kp H    &kp J    &kp K      &kp L    &kp BSPC
&kp Z           &kp X  &kp C  &kp V    &kp B        &kp N    &kp M    &kp COMMA  &kp DOT  &kp FSLH
                              &kp DEL  &kp SPACE    &kp RET  &kp TAB
            >;
        };

        QWERTY_NO_MODS {
            bindings = <
&kp Q  &kp W  &kp E  &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F   &kp G     &kp H   &kp J   &kp K      &kp L    &kp BSPC
&kp Z  &kp X  &kp C  &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH
                     &trans  &trans    &trans  &trans
            >;
        };

        Colemak-DH {
            bindings = <
&kp Q  &kp W  &kp F  &kp P   &kp B     &kp J   &kp L   &kp U      &kp Y    &kp SEMI
&kp A  &kp R  &kp S  &kp T   &kp G     &kp K   &kp N   &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C  &kp D   &kp V     &kp M   &kp H   &kp COMMA  &kp DOT  &kp FSLH
                     &trans  &trans    &trans  &trans
            >;
        };

        right_layer {
            bindings = <
&kp INS     &kp N1  &kp N2  &kp N3  &trans     &kp HOME  &kp PG_DN  &kp PG_UP  &kp END   &kp COLON
&kp DEL     &kp N4  &kp N5  &kp N6  &trans     &kp LARW  &kp DARW   &kp UARW   &kp RARW  &kp SEMI
&caps_word  &kp N7  &kp N8  &kp N9  &kp N0     &trans    &trans     &trans     &trans    &trans
                            &trans  &kp ESC    &trans    &trans
            >;
        };

        left_layer {
            bindings = <
&trans    &kp LBKT  &kp LBRC  &kp RBRC  &trans       &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT  &kp TILDE
&kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH  &kp GRAVE
&trans    &trans    &trans    &trans    &trans       &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE  &trans
                              &trans    &trans       &trans     &trans
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &PS     &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };
    };
};
