// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <285>;
};

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <0 10>;
            layers = <0 2>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <1 11>;
            layers = <0 2>;
        };

        double_quotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <2 12>;
            layers = <0 2>;
        };

        single_quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <3 13>;
            layers = <0 2>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <4 14>;
            layers = <0 2>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <5 15>;
            layers = <0 2>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <6 16>;
            layers = <0 2>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <7 17>;
            layers = <0 2>;
        };

        left_parentesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <8 18>;
            layers = <0 2>;
        };

        right_parentesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <9 19>;
            layers = <0 2>;
        };

        less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <10 20>;
            layers = <0 2>;
        };

        greater_than {
            bindings = <&kp GREATER_THAN>;
            key-positions = <11 21>;
            layers = <0 2>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <12 22>;
            layers = <0 2>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <13 23>;
            layers = <0 2>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <14 24>;
            layers = <0 2>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <15 25>;
            layers = <0 2>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <16 26>;
            layers = <0 2>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <17 27>;
            layers = <0 2>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <18 28>;
            layers = <0 2>;
        };

        right_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <19 29>;
            layers = <0 2>;
        };

        SYS {
            bindings = <&mo 0>;
            key-positions = <30 31>;
        };

        SYS_2 {
            bindings = <&mo 0>;
            key-positions = <33 32>;
        };
    };

    macros {
        PS: PS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N5 &kp N0 &kp N1 &kp N2 &kp N5 &kp LS(E) &kp S &kp T &kp E &kp B &kp A &kp N &kp EXCLAMATION>;
            label = "PS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp Q           &kp W       &kp E        &kp R                         &kp T      &kp Y         &kp U                              &kp I        &kp O       &kp P
&mt LEFT_GUI A  &mt LALT S  &mt LCTRL D  &mt LSHIFT F                  &kp G      &kp H         &mt RSHFT J                        &mt RCTRL K  &mt RALT L  &mt RGUI BACKSPACE
&kp Z           &kp X       &kp C        &kp V                         &kp B      &kp N         &kp M                              &kp COMMA    &kp DOT     &kp FSLH
                                         &mt LC(LA(LEFT_SHIFT)) SPACE  &lt 0 TAB  &lt 0 DELETE  &mt RA(RC(RG(RIGHT_SHIFT))) ENTER
            >;
        };

        QWERTY_NO_MODS {
            bindings = <
&kp Q  &kp W  &kp E  &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH
                     &trans  &trans  &trans  &trans
            >;
        };

        Colemak-DH {
            bindings = <
&kp Q           &kp W       &kp F        &kp P         &kp B   &kp J   &kp L        &kp U        &kp Y       &kp SEMI
&mt LEFT_GUI A  &mt LALT R  &mt LCTRL S  &mt LSHIFT T  &kp G   &kp K   &mt RSHFT N  &mt RCTRL E  &mt RALT I  &mt RGUI O
&kp Z           &kp X       &kp C        &kp D         &kp V   &kp M   &kp H        &kp COMMA    &kp DOT     &kp FSLH
                                         &trans        &trans  &trans  &trans
            >;
        };

        Navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans
            >;
        };

        Media {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans
            >;
        };

        Symbols {
            bindings = <
&kp LBRC   &kp AMPS    &kp ASTRK    &kp LPAR   &kp RBRC  &none  &none      &none      &none     &none
&kp COLON  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp PLUS  &none  &kp RSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp TILDE  &kp EXCL    &kp AT       &kp HASH   &kp PIPE  &none  &none      &none      &none     &none
                                    &none      &none     &none  &none
            >;
        };

        Functions {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9     &kp F13  &none  &none      &none      &none     &none
&kp F11  &kp F4  &kp F5  &kp F6     &none    &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp F10  &kp F1  &kp F2  &kp F3     &none    &none  &none      &none      &none     &none
                         &kp SPACE  &kp TAB  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
