#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <285>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tvp {
            timeout-ms = <100>;
            key-positions = <11 12 13>;
            bindings = <&tog 0>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                        &kp Q       &kp W       &kp E         &kp R        &kp T        &kp Y        &kp U            &kp I        &kp O       &kp P
                        &mt LGUI A  &mt LALT S  &mt LCTRL D   &mt LSHFT F  &kp G        &kp H        &mt RSHFT J      &mt RCTRL K  &mt RALT L  &mt RGUI BSLH
&kp LA(LC(LEFT_SHIFT))  &kp Z       &kp X       &kp C         &kp V        &kp B        &kp N        &kp M            &kp COMMA    &kp DOT     &kp FSLH       &kp RA(RC(RG(RIGHT_SHIFT)))
                                                &lt 3 ESCAPE  &lt 1 SPACE  &lt 2 TAB    &lt 5 ENTER  &lt 4 BACKSPACE  &lt 6 DEL
            >;
        };

        nav_layer {
            label = "NAVI";
            bindings = <
        &kp ESC       &none          &none      &none           &none     &kp K_REDO  &kp K_PASTE     &kp K_COPY     &kp K_CUT  &kp K_UNDO
        &kp LEFT_GUI  &kp RIGHT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &none     &kp LEFT    &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT  &none
&trans  &none         &none          &none      &none           &none     &kp INS     &kp HOME        &kp PAGE_DOWN  &kp PG_UP  &kp END     &trans
                                     &trans     &trans          &trans    &kp ENTER   &kp BACKSPACE   &kp DELETE
            >;
        };

        Mouse {
            bindings = <
       &sys_reset  &none     &none      &none      &none    &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO
       &kp LGUI    &kp LALT  &kp LCTRL  &kp LSHFT  &none    &none   &none    &none   &none  &none
&none  &none       &kp LALT  &none      &none      &none    &none       &none        &none       &none      &none       &none
                             &none      &none      &none    &none       &none        &none
            >;

            label = "MOUSE";
        };

        Media {
            bindings = <
                &sys_reset  &none     &none      &none      &bt BT_SEL 0    &none       &none              &none            &none       &none
                &kp LGUI    &kp LALT  &kp LCTRL  &kp LSHFT  &bt BT_SEL 1           &kp C_PREV  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_NEXT  &none
&bt BT_CLR_ALL  &none       &kp LALT  &none      &none      &bt BT_SEL 2           &none       &none              &none            &none       &none  &none
                             &none      &none      &none           &kp C_STOP  &kp C_PLAY         &kp K_MUTE
            >;
        };

        Numbers {
            bindings = <
       &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &none  &none      &none      &none     &sys_reset
       &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &none  &none      &none      &kp LALT  &none       &none
                          &kp DOT  &kp N0  &kp EQUAL    &none  &none      &none
            >;
        };

        Simbol {
            bindings = <
           &kp LEFT_BRACE  &kp AMPS  &kp STAR   &kp LPAR   &kp RBRC     &none  &none      &none      &none     &none
           &kp COLON       &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS     &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp LSHFT  &kp TILDE       &kp EXCL  &kp AT     &kp POUND  &kp PIPE     &none  &none      &none      &kp LALT  &none     &kp LS(LC(LALT))
                                     &kp LPAR   &kp RPAR   &kp UNDER    &none  &none      &none
            >;

            label = "SYM";
        };

        Functions {
            bindings = <
       &kp F12  &kp F7  &kp F8  &kp F9     &none      &bt BT_SEL 0  &none      &none      &none     &none
       &kp F11  &kp F4  &kp F5  &kp F6     &none      &bt BT_SEL 1  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&none  &kp F10  &kp F1  &kp F2  &kp F3     &none      &bt BT_SEL 2  &none      &none      &kp LALT  &none     &bt BT_CLR_ALL
                        &none   &kp SPACE  &kp TAB    &none         &none      &none
            >;
        };

        layer_7 {
            bindings = <
        &kp Q  &kp W  &kp F   &kp P   &kp B     &kp J   &kp L   &kp U      &kp Y    &kp SEMI
        &kp A  &kp R  &kp S   &kp T   &kp G     &kp M   &kp N   &kp E      &kp I    &kp O
&trans  &kp Z  &kp X  &kp C   &kp D   &kp V     &kp K   &kp H   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
